#video_section {
  min-height: 22rem;
  border-radius: 40%;
}

#demo {
  margin: 3rem auto;
  background: #ff9f1c;
  border-radius: 10px;
  height: 15rem;
  width: 28rem;
  // box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  // transition: box-shadow 0.8s;
  transition: 1s;

  // transition:  1s;
}

#demo:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
  height: 15.5rem;
  width: 28.5rem;
}
