<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    
</head>

<body> -->
    <div class="testimonials-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Testimonials </h2>
                <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="https://images.generated.photos/mKJmDaODqGu_5eL2Bzj3LJLaZAEyh_SLGcnb-ljbK9s/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zLWNv/bmRpdGlvbmFsL2Nk/ZTQ3ZmU5LWEyMTMt/NDE2Yy04ZGFlLWQz/NTk2ZTk0ZGUxYS5q/cGc.jpg">
                        <h5 class="name">Emily Schmitt</h5>
                        <p class="title">Frontend Developer</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="../../assets/images/face2.jpg">
                        <h5 class="name">Carl Oberbauer</h5>
                        <p class="title">Backend Developer</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="../../assets/images/face3.jpg">
                        <h5 class="name">Emmanuel Saidi</h5>
                        <p class="title">Fullstack Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
<!-- </body>

</html> -->