<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6 class="fa fa-road">CodeFactory</h6>
        <p class="text-justify">
          CodeFactory.com <i> CODE WANTS TO BE SIMPLE </i> We are more than just
          a CodeSchool. We are a community, a place to study, laugh, make
          friends and just spend time.We want to give our students more than
          just to teach them how to be great at programming. We want to be a
          meeting place where the scene networks, where events take place and
          where you talk about over a gin and tonic about your latest project.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li>
            <a href="https://codefactory.wien/en/automated-software-tester/"
              >Automated Software Tester</a
            >
          </li>
          <li>
            <a href="https://codefactory.wien/en/full-stack-web-developer-en/"
              >Full Stack Web Developer</a
            >
          </li>
          <li>
            <a href="https://codefactory.wien/en/frontend-developer-en/"
              >Frontend Developer</a
            >
          </li>
          <li>
            <a href="https://codefactory.wien/en/backend-developer-en/"
              >Backend Developer</a
            >
          </li>
          <li>
            <a href="https://codefactory.wien/en/basiskurs-javascript-en/"
              >Basic course JavaScript</a
            >
          </li>
          <li>
            <a href="https://codefactory.wien/en/python-programming-en/"
              >Python Programming</a
            >
          </li>
          <li>
            <a href="https://codefactory.wien/en/basiskurs-html-css-en/"
              >Basic course HTML / CSS</a
            >
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Job offers</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">F&Q</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2021 All Rights Reserved by
          <a routerLink="">CodeFactory</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" routerLink=""
              ><i class="fab fa-facebook"></i
            ></a>
          </li>
          <li>
            <a class="twitter" routerLink=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" routerLink=""
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li>
            <a class="linkedin" routerLink=""
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
