<!-- Teachers  -->
<div class="container justify-content-center teacher_style">
  <div class="row">
    <div *ngFor="let teacher of teachers" class="col-4">
      <div class="row justify-content-center">
        <div class="teacher_img my-4">
          <img src="{{ teacher.img }}" alt="" class="card-img" />
        </div>
        <div class="text-center">
          <h4>{{ teacher.fName }} {{ teacher.lName }}</h4>
          <p>{{ teacher.spec }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
