<div class="container-main">
  <div class="header">
    <h1>Code Factory</h1>
    <h2>- Your coding school! -</h2>

    <p>Become a Job-Ready Web Developer</p>
  </div>
  <div class="row1-container">
    <div class="box box-down orange">
      <h2>{{ MainDescription[0].cardTitle }}</h2>
      <p>{{ MainDescription[0].cardText }}</p>
      <img src="../../assets/images/icon_main.png" alt="" />
    </div>

    <div class="box cyan">
      <h2>{{ MainDescription[1].cardTitle }}</h2>
      <p>{{ MainDescription[1].cardText }}</p>

      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="" />
    </div>
  </div>
</div>
