/* You can add global styles to this file, and also import other style files */

$ourFontBasic: 'Poppins', sans-serif;

$fontThin: 200;
$fontNorm: 400;
$fontBold: 600;

$ourFontTitle: 'Poppins', sans-serif;

