.nav_style {
    
    height:5rem;
    width:100%;


    .nav_logo {
        
        display: inline;
        margin: auto 1rem auto 1rem;

        img {

            height: 3rem;
            width: auto;
        }
     
    }
}