<!-- Classical Layout from Bootstrap -->

<nav class="navbar navbar-expand-lg navbar-light nav_style">
  <div class="container animate__animated animate__fadeInDown animate__slow">
    <a class="navbar-brand mx-4" routerLink="">
      <img src="../../assets/images/logo.png" width="40" height="40" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink=""
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink=""
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="">Web-Development</a>
            <a class="dropdown-item" routerLink="">Python</a>
            <a class="dropdown-item" routerLink="">Automated Software Tester</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
